.title {
  font-size: 2rem;
  margin-bottom: 20px;
  font-size: 1.75rem;
  font-weight: 600;
  background-image: linear-gradient(80deg, #4169e1 0%, #89cff0 75%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.back {
  margin-bottom: 20px;
  text-decoration: underline;
  cursor: pointer;
  color: #1a1616;
  font-size: 1.25rem;
}

.cart {
  display: flex;
  justify-content: space-between;
  margin-top: 5%;

  .items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    min-width: 50%;

    .item {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 20px;
      padding: 10px;
      border: 1px solid #f5f4e9;
      border-radius: 5px;
      width: 50%;
      height: 50vh;

      .imageContainer {
        position: relative;
        width: 90%;
        height: 90%;

        .image {
          object-fit: contain;
        }
      }

      .desc {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;

        h3 {
          font-weight: 600;
        }

        .details {
          display: flex;
          justify-content: space-between;
          width: 100%;

          h3 {
            font-weight: 400;
          }
        }
      }
    }
  }

  .total {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;

    .totalTitle {
      font-size: 2rem;
      margin-bottom: 20px;
    }
  }

  .button {
    margin-top: 10px;
    padding: 10px;
    color: #1a1616;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
  }

  .empty {
    font-size: 1.5rem;
    color: red;
  }
}

@media (max-width: 650px) {
  .cart {
    flex-direction: column-reverse;

    .items {
      .item {
        width: 100%;
      }
    }

    .total {
      width: 100%;
    }
  }
}

@media (prefers-color-scheme: dark) {
  .back {
    margin-bottom: 20px;
    text-decoration: underline;
    cursor: pointer;
    color: #f5f4e9;
    font-size: 1.25rem;
  }
}
