@import url("https://api.fontshare.com/v2/css?f[]=satoshi@300,301,400,401,500,501,700,701,900,901&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Satoshi", sans-serif;
}
html,
body {
  height: 100%;
  background-color: #faf4f5;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}
.green {
  background: radial-gradient(
    circle,
    #216af1,
    #007cf0,
    rgb(131, 106, 169),
    #6a0dad
  );
  filter: blur(30px);
  width: 500px;
  height: 500px;
  border-radius: 50%;
  position: fixed;
  background-size: 200% 200%;
  animation: gradient 10s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 150% 0;
  }

  50% {
    background-position: 0 100%;
  }

  100% {
    background-position: 150% 0;
  }
}
