@import url("https://api.fontshare.com/v2/css?f[]=ranade@100,300,400,500&f[]=excon@500,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ranade", sans-serif;
}
html,
body {
  min-height: 100vh;
  background-color: #faf4f5;
  color: #1a1616;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
  margin-bottom: 16px;
}
.green {
  background-image: radial-gradient(circle, #5078f2 0%, #efe9f4 74%);

  filter: blur(30px);
  width: 800px;
  height: 800px;
  border-radius: 50%;
  position: fixed;
  background-size: 200% 200%;
  animation: gradient 10s ease infinite, breathing 10s ease-in-out infinite;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #1a1616;
    color: #faf4f5;
  }

  .green {
    background-image: radial-gradient(circle, #5078f2 0%, #1a1616 74%);
  }
}

@keyframes gradient {
  0% {
    background-position: 100% 0;
  }

  50% {
    background-position: 0 100%;
  }

  100% {
    background-position: 100% 0;
  }
}

@keyframes breathing {
  0%,
  100% {
    background-size: 200% 200%;
  }

  50% {
    background-size: 220% 220%;
  }
}
