.home {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;

  .img {
    width: 60%;
    height: 10%;
  }

  .content {
    width: 35%;
    .homeInfo {
      line-height: 1.6rem;
    }
  }
}

@media (max-width: 768px) {
  .home {
    flex-direction: column-reverse;
    align-items: center;

    .img {
      width: 100%;
    }

    .content {
      width: 100%;
    }
  }
}
