.navbar {
  width: auto;
  height: 8vh;
  position: sticky;
  top: 0;
  z-index: 1000;

  display: flex;
  justify-content: center;
  align-items: center;

  ul {
    display: flex;
    align-items: center;
    gap: 3%;
    width: 85%;
    height: 100%;

    li {
      list-style: none;

      a {
        text-decoration: none;
        color: #1a1616;
        font-weight: 600;
        transition: 300ms;
        font-size: 1.25rem;

        &:hover {
          cursor: pointer;
          background-image: linear-gradient(80deg, #4169e1 0%, #89cff0 75%);
          background-clip: text;
          -webkit-background-clip: text;
          color: transparent;
          transition: 300ms;
        }
      }
    }
  }

  .mobileButton {
    display: none;
    background: none;
    color: #1a1616;
    border: none;
    font-size: 2rem;
    cursor: pointer;
  }
}

.content {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  opacity: 0;
  animation: fadeIn 800ms forwards;

  .main {
    width: 90%;
    // maybe remove padding eventually
    padding: 4%;
    position: relative;
    height: auto;
  }
}

@media (max-width: 850px) {
  .navbar {
    justify-content: flex-start;
    margin-left: 5%;

    .mobileButton {
      display: block;
      position: relative;
      z-index: 1001;
    }

    ul {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 1rem;

      li {
        width: 100%;
        text-align: left;
      }
    }

    .mobile {
      background-color: rgba(0, 0, 0, 0.75);
      display: flex;
      height: 100vh;
      width: 100vw;
      justify-content: center;
      position: fixed;
      padding: 0 10%;
      top: 0;
      left: 0;
      opacity: 0;
      transition: opacity 600ms ease;
    }

    .mobileOpen {
      opacity: 1;
      pointer-events: auto;

      li {
        a {
          color: #faf4f5;
        }
      }
    }

    .mobileClose {
      opacity: 0;
      pointer-events: none;
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (prefers-color-scheme: dark) {
  .navbar {
    .mobileOpen {
      opacity: 1;
      pointer-events: auto;

      li {
        a {
          color: #1a1616;
        }
      }
    }

    ul {
      li {
        a {
          color: #faf4f5;
        }
      }
    }

    .mobileButton {
      color: #faf4f5;
    }
  }

  .content {
    .main {
      color: #faf4f5;
    }
  }
}
