.navbar {
  width: auto;
  height: 8vh;
  background-color: #fff;
  display: flex;
  justify-content: center;
  border-bottom: 0.5px solid grey;

  ul {
    display: flex;
    align-items: center;
    gap: 3%;
    width: 85%;
    height: 100%;
    li {
      list-style: none;
      a {
        text-decoration: none;
      }
    }
  }
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 92vh;
  position: relative;
  .main {
    width: 85%;
    background-color: #fff;
    padding: 4%;
    border: 0.5px solid grey;
    position: relative;
  }
}
