.productList {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 5% auto;
  width: 90%;
  gap: 5%;

  .product {
    flex: 0 0 calc(33.3333% - 5%);
    border: 0.5px solid grey;
    padding: 5% 3%;
    background: rgba(240, 240, 245, 0.5);
    margin-bottom: 5%;

    a {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100%;
      text-decoration: none;
      color: black;

      .img {
        width: 90%;
      }
      .info {
        width: 100%;
        margin-top: 20%;
        h2,
        h4 {
          margin: 0;
        }
        h2 {
          width: 100%;
          text-align: left;
        }
      }
    }
  }
}

.back {
  text-decoration: none;
  color: black;
  font-weight: 600;
  font-size: 1.8rem;
}

.descPage {
  width: 90%;
  margin: 0 auto;

  .productDesc {
    display: flex;
    justify-content: space-evenly;
    gap: 5%;
    margin: 5% auto;

    .img {
      width: 45% !important;
    }
    .desc {
      width: 45%;
    }
  }
}

@media (max-width: 850px) {
  .productList {
    flex-direction: column;
    gap: 30%;

    .product {
      a {
        .img {
          width: 90%;
        }
      }
    }
  }

  .descPage {
    .productDesc {
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .img {
        width: 90% !important;
      }

      .desc {
        width: 95%;
      }
    }
  }
}
