.title {
  font-size: 1.75rem;
  font-weight: 600;
  background-image: linear-gradient(80deg, #4169e1 0%, #89cff0 75%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.productList {
  display: flex;
  gap: 0.2%;
  justify-content: center;
  margin: 0 auto;
  width: 90%;
  height: 70vh;

  .product {
    position: relative;
    width: 6%;
    height: 100%;
    transition: width 500ms;

    &:hover {
      width: 35%;
      transition: width 500ms;
      animation-delay: 1s;

      .info {
        opacity: 1;
        visibility: visible;
        transition: opacity 400ms;
      }
    }

    a {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      color: #1a1616;
      height: 100%;

      .imageContainer {
        position: relative;
        width: 100%;
        height: 50vh;
        .img {
          object-fit: cover;
        }
      }

      .info {
        opacity: 0;
        transition: opacity 400ms, visibility 0s 400ms;
        visibility: hidden;
        width: 100%;

        position: absolute;
        bottom: 0;

        h2,
        h4 {
          margin: 0;
        }
        h2 {
          width: 100%;
          text-align: left;
        }
      }
    }
  }
}

.back {
  text-decoration: none;
  color: #1a1616;
  font-weight: 600;
  font-size: 1.8rem;
}

.descPage {
  width: 90%;
  margin: 0 auto;

  .productDesc {
    display: flex;
    justify-content: space-evenly;
    margin: 5% auto;
    gap: 5%;

    .img {
      width: 45% !important;
    }
    .desc {
      width: 45%;
    }
  }
}

@media (max-width: 850px) {
  .productList {
    flex-direction: column;
    gap: 30%;

    .product {
      a {
        .img {
          width: 90% !important;
        }
      }
    }
  }

  .descPage {
    .productDesc {
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .img {
        width: 90% !important;
      }

      .desc {
        width: 95%;
      }
    }
  }
}
